<div class="panel-heading">
    <h3 class="panel-title">Node : {{id}}</h3>
</div>
<div class="panel-body">
    <div class="income-messages">&nbsp;</div>

    <a class="stop btn btn-primary" href="javascript:">Stop</a>
    <a class="recover btn btn-primary" href="javascript:">Recover</a>
</div>