body{
    font-family: Tahoma;
}
.container {
    height: 400px;
}

.node {
    background-color: #aaaaaa;
    border: 1px solid #efefef;
    margin-bottom: 2px;
}

.king {
    background-color: #a6b779;
}

.stopped {
    border: 2px solid #b03911;
}
