.stopped { border: 2px solid #b03911;}

#root-container > div { padding: 20px;}

.nodes { padding: 20px 0 0;}
.panel-heading { overflow: hidden;}
.panel-heading .glyphicon { float: right;}

.income-messages { height: 80px; margin: 0 0 15px; overflow: auto;}

.node .income-messages { overflow-y:hidden; }
.node .node-buttons {}

@media (min-width: 1200px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 750px;
    }
}